@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-black-webfont.woff2') format('woff2'),
       url('fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-italic-webfont.woff2') format('woff2'),
       url('fonts/montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}


@font-face {
  font-family: "alex_brush";
  src: url("fonts/alexbrush-regular-webfont.woff2") format("woff2"),
       url("fonts/alexbrush-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #c00;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #e2eaef;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #000;
}

